Repository LudvigOeberg/Healthify-Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install-app-dependencies, build-app-image, deploy-app, pages

install-app-dependencies:
  stage: install-dependencies
  cache:
    key: $CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
    paths:
    - frontend/node_modules
  script:
  - cd frontend
  - npm ci
  - npm install react-scripts@3.0.1 -g

build-app-image:
  stage: build-image
  image: docker.io/buildah/buildah
  needs:
  - build-frontend
  dependencies:
  - build-frontend
  script:
  - export _BUILDAH_STARTED_IN_USERNS=''
  - export BUILDAH_ISOLATION=chroot
  - export STORAGE_DRIVER=vfs
  - export BUILDAH_FORMAT=docker
  - echo "${CI_REGISTRY_PASSWORD}"
  ...

deploy-app:
  environment: production
  needs:
  - build-app-image
  stage: deploy
  image: lachlanevenson/k8s-kubectl
  script:
  - kubectl get all
  - kubectl apply -f yaml/app-deployment.yaml
  - kubectl apply -f yaml/app-service.yaml
  - kubectl apply -f yaml/app-ingress.yaml

pages:
  stage: pages
  needs: []
  script:
  - mkdir .public
  - cp -r * .public
  - mv .public public
  artifacts:
    paths:
    - public

testing CI/CD/K8/docker/react/
  .gitlab-ci.yml
  .npm/_cacache/index-v5/34/8e/30c54cce758990bcd1b33114c4aa8a9e5a25c152ac39d9feab22b7e13e00
  .npm/anonymous-cli-metrics.json
  frontend/package-lock.json
Due: install-app-dependencies, build-app-image

testing CI/CD/K8/docker/react/
  .gitlab-ci.yml
Due: build-app-image

Update .gitlab/.gitlab-webide.yml
  .gitlab/.gitlab-webide.yml
Due: build-app-image

testing CI/CD/K8/docker/react/
  .gitlab-ci.yml
  .npm/_cacache/index-v5/34/8e/30c54cce758990bcd1b33114c4aa8a9e5a25c152ac39d9feab22b7e13e00
  .npm/anonymous-cli-metrics.json
Due: build-app-image

testing CI/CD/K8/docker/react/
  .gitlab-ci.yml
  .gitlab/.gitlab-webide.yml
  frontend/package-lock.json
Due: install-app-dependencies, build-app-image

testing CI/CD/K8/docker/react/
  frontend/package-lock.json
Due: install-app-dependencies, build-app-image

testing CI/CD/K8/docker/react/
  frontend/public/index.html
Due: build-app-image

testing CI/CD/K8/docker/react/
  .gitlab-ci.yml
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/nginx.conf
Due: build-app-image

testing CI/CD/K8/docker/react/
  frontend/public/index.html
  frontend/src/components/Drawer.js
Due: build-app-image

testing CI/CD/K8/docker/react/
  .gitlab-ci.yml
  frontend/public/index.html
Due: build-app-image

pages
  public/img/logo.png
  public/img/logo1.png
  public/index.html
Due: pages

spell fix for Inès
  public/index.html
Due: pages

testing CI/CD/K8/docker/react/
  frontend/README.md
Due: none

Added logo
  frontend/public/index.html
  frontend/public/logo1.png
Due: build-app-image

Added login
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/SignIn.js
Due: install-app-dependencies, build-app-image

Added login
  frontend/src/App.js
  frontend/src/components/SignIn.js
Due: build-app-image

Added basic site
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo1.png
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/agent.js
  frontend/src/assets/App.css
  frontend/src/assets/logo.svg
  frontend/src/assets/style.css
  frontend/src/components/App.js
  frontend/src/components/Drawer.js
  frontend/src/components/Footer.js
  frontend/src/components/Header.js
  frontend/src/components/Home/Banner.js
  frontend/src/components/Home/index.js
  frontend/src/components/ListErrors.js
  frontend/src/components/Login.js
  frontend/src/components/Register.js
  frontend/src/components/SignIn.js
  frontend/src/constants/actionTypes.js
  frontend/src/index.js
  frontend/src/middleware.js
  frontend/src/reducer.js
  frontend/src/reducers/auth.js
  frontend/src/reducers/common.js
  frontend/src/reducers/home.js
  frontend/src/setupTests.js
  frontend/src/store.js
  frontend/src/theme.js
Due: install-app-dependencies, build-app-image

Added basic site
  frontend/src/components/Header.js
Due: build-app-image

Added basic site
  frontend/package.json
  frontend/src/components/App.js
  frontend/src/components/Footer.js
  frontend/src/components/Header.js
  frontend/src/components/Home/Banner.js
  frontend/src/components/Home/index.js
  frontend/src/components/ListErrors.js
Due: build-app-image

Path conditions:
  install-app-dependencies: any of: frontend/package-lock.json
  build-app-image: not (any of: public/*, */README.md, README.md)
  deploy-app: any of: yaml/*
  pages: any of: public/*
